@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@model List<Course>

<!-- SIDEBAR -->
<section id="sidebar">
    <a asp-controller="Home" asp-action="Index" class="brand">
        <img class="bx bxs-smile png-stu" src="~/images/LogoBTEC-1.png" alt="Alternate Text" />
        <span class="text text-png">Student Management</span>
    </a>
    <ul class="side-menu top">
        <li>
            <a asp-controller="Home" asp-action="Index">
                <i class='bx bxs-dashboard'></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li class="">
            <a asp-controller="Student" asp-action="Index">
                <i class='bx bxs-user'></i>
                <span class="text">Student Management</span>
            </a>
        </li>
        <li class="active">
            <a asp-controller="Course" asp-action="Index">
                <i class='bx bxs-book'></i>
                <span class="text">Course Management</span>
            </a>
        </li>
        <li>
            <a asp-controller="User" asp-action="Index">
                <i class='bx bxs-user-pin'></i>
                <span class="text">User Management</span>
            </a>
        </li>

    </ul>
    <ul class="side-menu">

        <li>
            <form asp-controller="Login" asp-action="Logout" method="post" style="display:inline;">
                <button type="submit" class="logout" style="background:none; border:none; cursor:pointer; color:red;">
                    <i class='bx bxs-log-out-circle' style="color:red;"></i>
                    <span class="text" style="color:red;">Logout</span>
                </button>
            </form>
        </li>
    </ul>
</section>
<!-- SIDEBAR -->
<!-- CONTENT -->
<section id="content">
    <!-- NAVBAR -->
    <nav>
        <i class='bx bx-menu'></i>
        <input type="checkbox" id="switch-mode" hidden>
        <label for="switch-mode" class="switch-mode"></label>
        <a class="notification">
            <i class='bx bxs-bell'></i>
            <span class="num">8</span>
        </a>
        <a class="profile">
            <img src="~/images/—Pngtree—cartoon pig head_4235799.png">
        </a>
    </nav>
    <!-- NAVBAR -->
    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Dashboard</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a class="active" asp-action="Index">Course Management</a>
                    </li>
                    <form class="form-inline my-2 my-lg-0" asp-controller="Course" asp-action="Search" method="get">
                        <input value="@ViewBag.SearchKeyword" class="form-control mr-sm-2" name="keyword" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </ul>
               
            </div>

            <a asp-controller="Course" asp-action="CreateCourse" class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add new</a>
        </div>
        <div class="content">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Description</th>
                        
                        <th scope="col" colspan="2">Action</th>

                    </tr>
                </thead>
                <tbody>
                    @if (!Model.Any())
                    {
                        <tr>
                            <td colspan="8" class="text-center">No results found for your search.</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var course in Model)
                        {
                            <tr>
                                <td>@course.Id</td>
                                <td>@course.Name</td>
                                <td>@course.Status</td>
                                <td>@course.Description</td>
                                <td>
                                    <a asp-controller="Course" asp-action="EditCourse" asp-route-id="@course.Id" class="btn btn-primary">Edit</a>
                                    <form asp-controller="Course" asp-action="Delete" method="post" style="display:inline;">
                                        <input type="hidden" name="id" value="@course.Id" />
                                        <button type="submit" class="btn btn-warning">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                    
                </tbody>
            </table>
            @{
                int startPage = Math.Max(1, ViewBag.CurrentPage - 1);
                int endPage = Math.Min(ViewBag.TotalPages, startPage + 2);

                if (endPage - startPage < 2)
                {
                    startPage = Math.Max(1, endPage - 2);
                }
            }

            <nav aria-label="Page navigation example" style="background-color: #EEEEEE; display: flex; justify-content: center; margin-top: 10px;" id="pagination">
                <ul class="pagination">
                    <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                        @if (string.IsNullOrEmpty(ViewBag.SearchKeyword))
                        {
                            <a class="page-link" asp-action="Index" asp-route-pageNumber="@(ViewBag.CurrentPage - 1)">Previous</a>
                        }
                        else
                        {
                            <a class="page-link" asp-action="Search" asp-route-keyword="@ViewBag.SearchKeyword" asp-route-pageNumber="@(ViewBag.CurrentPage - 1)">Previous</a>
                        }
                    </li>
                    @for (int i = startPage; i <= endPage; i++)
                    {
                        <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                            @if (string.IsNullOrEmpty(ViewBag.SearchKeyword))
                            {
                                <a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a>
                            }
                            else
                            {
                                <a class="page-link" asp-action="Search" asp-route-keyword="@ViewBag.SearchKeyword" asp-route-pageNumber="@i">@i</a>
                            }
                        </li>
                    }
                    <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                        @if (string.IsNullOrEmpty(ViewBag.SearchKeyword))
                        {
                            <a class="page-link" asp-action="Index" asp-route-pageNumber="@(ViewBag.CurrentPage + 1)">Next</a>
                        }
                        else
                        {
                            <a class="page-link" asp-action="Search" asp-route-keyword="@ViewBag.SearchKeyword" asp-route-pageNumber="@(ViewBag.CurrentPage + 1)">Next</a>
                        }
                    </li>
                </ul>
            </nav>

        </div>
        @* modal add new *@
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- MAIN -->
</section>
